/*reset*/ /*da formato a todo el html*/
*{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/

.imagen-logo{
    justify-content: left;
}
.top-container{
    display:flex;
    align-items: center;
    background-color:white;
    width: 100%;
}
.menu{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.container-fluid{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.container-fluid li{
    list-style-type: none;
    display: flex;
}
.container-fluid li a{
    text-decoration: none;
    color: #ed2317;
    font-weight: 700;
    font-size: 1em;
}
/*para que ocupe todo el ancho el nav*/
.menu container-fluid{
    width: 100%;
    justify-content: center;
}

.btn-outline-success {
        --bs-btn-color: #9fc23a;
        --bs-btn-border-color: #9fc23a;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #9fc23a;
        --bs-btn-hover-border-color: #9fc23a;
}

/*Para que este centrado verticalmente*/

/*main*/

.dropdown-total{
    display: flex;
}

h1{
    color: #ed2317;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.5em;
    padding-bottom: 20px;
    padding-top: 30px;
}

.top-buttons{
    background-color: #9fc23a;
    display: flex;
    width: 100%;
}
.top-buttons button{
    border: none;
    font-weight: 500;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    }
.oferta-pantalla{
        display: flex;
        width: 700px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
.oferta-pantalla img{
        width: 100%;
    }
h2{
    color: #eaab1f;
    font-weight: 700;
    font-size: 1.5em;
}

.photo-news{
    display: flex;
    width: 700px;
}
.photo-news img{
    width: 100%;
}

/*footer*/

footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #9fc23a;
    display: flex;
    align-items: top;
}
footer div{
    width: 600px;
    display: inline-block;
}

h3{
    color: black;
    font-weight: 700;
    font-size: 0.8em;
}
p{
    font-size: 0.8em;
}
body{
    padding-left: 20px;
}